
<img class="mt-5 mx-auto d-block" style="width: 30%;" src="https://s.memehay.com/files/posts/20210527/huan-hoa-hong-dua-9-ngon-tay-ruoi-noi-9-5-diem.webp" class="img-fluid" alt="Responsive image">

<a class="btn btn-outline-primary mt-5 mx-auto d-block" style="width: 20%;" href="Students" role="button">Xem chi tiết</a>
